/* General CSS */

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background: url("../images/background-pattern.png");
  color: #777777
}

h1 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #4aaaa5;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0px 2%;
}

/* Navigation CSS */

nav {
  border-bottom: 2px solid #cccccc;
  background: #ffffff;
}

#nav-content-wrapper {
  width: 960px;
  height: 75px;
  margin: auto;
}

#nav-left-section {
  float: left;
  height: 100%;
  width: 200px;
  background: #4aaaa5;
  color: #ffffff;
  font-size: 1.4em;
  text-align: center;
  line-height: 75px;
  vertical-align: middle;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-weight: bold;
}

#menu {   
  list-style-type: none;  
  margin: 0px 0px 0px 600px;  
  padding: 0;  
  height: 100%;
  background-color: #ffffff;  
  font-size: 1.0em;  
}  

#menu li {  
  float: left;  
  height: 100%;  
  line-height: 75px;  
  vertical-align: middle;
}

#menu li a {  
  display: block;  
  padding: 0 20px;  
  color: #777777;  
  text-decoration: none;  
}  
#menu li a:hover {  
  background-color: #4aaaa5;  
  color: #ffffff;
  text-decoration: none;  
  height: 100%;
}  

.menu-divider {
  font-size: .8em;
  color: #dddddd;
}

/* Main Content CSS */

#div-for-sticky-footer {
  min-height: 100%;
}

#main-content {
  width: 960px;
  margin: 30px auto -75px auto;
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #777777;
  line-height: 1.7em;
}

#headshot-img {
  height: 20%;
  width: 20%;
  float: left;
  margin: 0px 30px 10px 2%
}

#line-division {
  width: 96%;
  height: 3px;
  background: #cccccc;
  overflow: hidden;
  margin: auto;
}

#main-content-text {
  margin: 0 2%;
}

/* Contact Form */

form p {
  font-size: 1.1em;
  line-height: 0em;
  margin-top: 30px;
}

input, textarea {
  width: 100%;
  font-family : inherit;
  font-size   : 80%;
}

input {
  height: 2.5em;
}

input[type=text] {
  padding: 0px 10px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4aaaa5;
    width: 12%;
    border: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0px 40px 0px;
    cursor: pointer;
}

textarea {
  width: 100%;
  border: 1px solid #dddddd;
  padding: 10px 10px; 
  box-sizing: border-box;
}

/* Portfolio */

#portfolio-content {
  overflow: hidden;
  width: 60%;
  margin-bottom: 20px;
}

.portfolio-item {
  float: left;
  padding: 31px 25px 0px 3%;
  width: 175px;
  height: 175px;
}

.portfolio-item img {
  position: absolute;
}

.portfolio-item-title {
  background: #4aaaa5;
  color: #ffffff;
  position: relative;
  top: 70%;
  text-align: center;
  line-height: 40px;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

/* Footer */

#footer-content-area {
  width: 100%;
  height: 75px;
  margin:  -75px auto auto auto;
  background: #666666;
  text-align: center;
  color: #ffffff;
  border-top: 8px solid #4aaaa5;
  line-height: 75px;
  vertical-align: text-bottom;
}